

/*  global css file  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Ubuntu:wght@400;500;700&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins' sans-serif;
}

/*  theme css file  */
.hero{
	width: 100%;
	background: url(../img/1123941.jpg)no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
}
.navbar{
	padding-left:30px;
	display: flex;
	height: 15%;
	align-items: center;
	justify-content: space-between;

}
.navbar .logo a{
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}
.navbar.sticky .logo a span{
	color:#fff;
}
/* Style the form */
#regForm {
  background-color: #ffffff00;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    border: 2px solid lightgray;
    min-width: 300px;
    text-align: center;
    z-index: 999;
}
#regForm h1{
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 90%;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  border: 2px solid lightgray;
  background-color: transparent;
  margin: 35px 0px 0px 35px;
  border-radius: 10px;
  color: #fff;
}
.pre{
	padding: 13px 25px;
}
.nxt{
	padding: 13px 30px;
}
.btn{
	background: linear-gradient(crimson,black);
	
	display: inline-block;
	color: #fff;
	font-size: 20px;
	border-radius: 35px;
	margin-top: 20px;
	border: solid 2px lightgray;
	transition: all 0.3s ease;
	margin-bottom: 30px;
}
.btn:hover{
	color: lightgray;
	background: none;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: crimson;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

/*  side menu */
.side-bar{
	width: 50px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: linear-gradient(#00545d,#000729);
	z-index: 999;
}
.side-bar .exit{
	position: absolute;
	text-align: center;
	width: 50px;
	top: 5%;
	display: block;
}
.side-bar .exit a i{
	margin-bottom: 20px;
	background: -webkit-linear-gradient(crimson, white);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	transition: all 0.3s ease;
}
.side-bar .exit a i:hover{
	background: none;
}
.social-icons{
	position: absolute;
	text-align: center;
	width: 50px;
	top: 50%;
	transform: translateY(-50%);
	display: block;
}
.social-icons a{
	font-size: 25px;
	margin-left: 10px;
}
.social-icons a i{
	margin-bottom: 20px;
	background: -webkit-linear-gradient(crimson, white);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	transition: all 0.3s ease;
}
.social-icons a i:hover{
	background: none;
}

/*  animations   */

.bubbles img{
	width: 50px;
	animation: bubble 7s linear infinite;
}
.bubbles{
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: -70px;
}
@keyframes bubble{
	0%{
		transform: translateY(0);
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	70%{
		opacity: 1;
	}
	100%{
		transform: translateY(-80vh);
		opacity: 0;
	}
}

.bubbles img:nth-child(1){
	animation-delay: 2s;
	width: 25px;
}
.bubbles img:nth-child(2){
	animation-delay: 1s;
}
.bubbles img:nth-child(3){
	animation-delay: 3s;
	width: 25px;
}
.bubbles img:nth-child(4){
	animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
	animation-delay: 3s;
}
.bubbles img:nth-child(6){
	animation-delay: 6s;
	width: 20px;
}
.bubbles img:nth-child(7){
	animation-delay: 7s;
	width: 35px;
}

/* fish animations  */
.fishs img{
	width: 35%;
	margin-left: -235px;
	position: absolute;	
	animation: swim 20s linear infinite;
	-webkit-animation: swim 20s linear infinite;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.fishs {
    width: 100%;
    align-items: center;
    right: 100;
    position: absolute;
    top: 50px;

}
@-webkit-keyframes swim
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}
@keyframes swim
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}



